.homepage {
    overflow: hidden;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    /* Safari 15.4+ – this adjusts as the toolbar shows/hides */
    flex-direction: column;
    /* background-image: url("https://img.freepik.com/free-vector/navy-blue-geometrical-patterned-mobile-wallpaper-vector_53876-167963.jpg?t=st=1745637010~exp=1745640610~hmac=9e42b1f3e5f0757fdf990777073cd28867150ab25894ff4e3c048bf2b2c0f373&w=740"); */
  }
  
  nav {
    padding: 0em 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-container {
    flex-shrink: 0;
    width: 100%;
  }
  
  .content-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /* Smooth scrolling on iOS */
    /* padding-bottom: env(safe-area-inset-bottom); */
    background: none;
  }
  